@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
body{max-width:475px;width:100%;margin:0 auto;text-align: center;position:relative;}
*{
    margin:0;padding:0;text-decoration: none;list-style: none;
    font-family: 'Montserrat','Noto Sans KR', sans-serif;
}
.ko{font-family: 'Noto Sans KR', sans-serif!important;}
.en{font-family: 'Montserrat', sans-serif!important;}

img{width:100%;}
html {
    scroll-behavior: smooth;
}
.top_btn{position: relative; max-width: 475px;margin:0 auto;}
.top_btn a{
    transition:1s;
    z-index:999;
    position:fixed; bottom:70px; right:20px;
    width:30px; height:30px;
    opacity:0;
    background-color: rgba(255,255,255,0.3);
    border-radius: 30px;
    padding: 5px;
    height:50px;
}
.top_btn .aside_arrow{width:15px;}
.top_btn a.active{opacity:1;}

.body_wrap{overflow:hidden ;position: relative;z-index: 99;}
header{
    z-index: 999;
    max-width: 475px;
    width:100%;
    position:fixed;
    //top:0;
    left:50%;
    transform: translateX(-50%);
    border-bottom: 1px solid #000;
    height:50px;
    background-color: #fff;
    transition:.5s;
    &.active{transform: translate(-50%,-50px);}
    .wrap{
        display: flex;justify-content:space-between;align-items:center;
        height: 50px;
        padding: 0 20px;
        .burger{
            position: relative;
            height:50px;
            img{position: absolute;width:40px;top:50%;left:0;transform:translateY(-50%);}
            
           
            .line{
                img{
                    z-index:3;transition:.5s;transform-origin:center center;
                    &.active{transform:translateY(-50%) rotate(-90deg);}
                }
            }
            .ball{
                img{
                    z-index: 2;
                    opacity: 0;
                    transition:.5s;transform-origin:center center;
                    &.active{transform:translateY(-50%) rotate(-90deg);opacity:1;}
                }
            }
        }
        .logo{width:30px;position: absolute;left:50%;transform: translateX(-50%);}
        .back{width:40px;}
    }
}
.nav{
    position:absolute;background:#3a3e46;
    border-right:2px solid #f1c726;
    height: 100%;width: 40%; left:0px;
    z-index:-2;
    opacity: 0; padding:60px 20px 20px;
    text-align:left;top:50px;
    
    &.active{opacity: 1;z-index:9}
    #nav_text{
        top:30px;
        position:fixed;top:110px;transition:.5s;height: calc(100% - 150px);
        &.active{transform: translateY(-50px);}
        .insta{width:20px;padding-top: 20px;}
        .email{font-size: 10px;color: #909090;padding-top:10px;}
    }
    li{font-size: 15px;color:#fff;padding:0 0 20px;;text-transform: uppercase;}
}
.close{
    position:absolute;
    top:0;left:0;
    z-index: 2;
    width:100%;height: 100%;
    backdrop-filter: blur(10px);
    display: none;
    &.active{display:block;}
}
.fix_menu{
    display: flex;justify-content: space-between;
    align-items: center; border-bottom: 2px solid #f1c726;
    padding:0 20px;background:#3a3e46;
    height: 30px;line-height:30px;border-top:2px solid #f1c726;
    li{color: #fff;text-align:center;text-transform: uppercase;font-size: 12px;font-weight: 300;}
}

main{
    background: #fff;
    position: relative;
    .swiper {
        padding-top: 80px;
        width: 100%;height:100%;
    }

    .swiper-slide {
        height:350px;
        overflow: hidden;
    }

    .swiper-slide img {
    display: block;
    width: 100%;
    }

    .sec1{
        background:#3a3e46;
        padding:30px 0px;
        .con2,.con3,.con4{border-top: 1px solid #000;padding-top: 25px;}
        .title{
            span{
            margin:0 auto;
            border:1px solid rgba(255,255,255,0.5);
            width:100%;
            border-radius: 10px;font-size:13px;color:#fff;
            padding: 4px 10px;
            }
        }
        .details{text-align: center;color: #fff;font-size: 13px;padding:25px 0 25px;}
        .detail{
            width:100%;
            text-align: center;
            display: flex;justify-content: space-between;
            align-items: center; padding-top:25px;
            li:nth-of-type(1){
                display: flex;align-items: center;padding-left:20px;
                span{font-size: 20px;padding-right: 10px;display: block;}
                font-size: 15px;color:#fff;
            }
            li:nth-of-type(2){width:10%;color:#fff;}
            li:nth-of-type(3){
                padding-right:20px;
                width: 50%;
                font-size:12px;color:#fff;
                text-align: left;
            }
        }
    }
}

footer{
    background:#000;
    padding:20px;
    text-align: center;
    .foot_logo{
        img{width:50px;}
    }
    .insta{
        padding-top:10px;
        img{width:20px;}
    }
    .email{color:#909090;padding:10px 0 0; font-size: 12px;font-weight: 300;}
    .site_by{color:#909090;padding:5px 0 0; font-size: 12px;font-weight: 300;}
}